tive que fazer uma adaptação do modelo do wooldridge, baixei manualmente os dados a partir de 2014 (onde tem o código da uf e todas as variáveis disponíveis), e como não tenho o uso de cigarros, vou fazer uma análise a partir de hipóteses, vou pegar 5% de cada ano para analisar sem sobrecarregar o computador

hipóteses:

1️⃣ Idade materna

Hipótese: Idade materna muito baixa (<20 anos) ou muito alta (≥35 anos) ↑ probabilidade de baixo peso ao nascer.
Variáveis independentes:

IDADEMAE (criar categorias: <20, 20–34, ≥35)

2️⃣ Escolaridade materna

Hipótese: Menor escolaridade da mãe ↑ risco de baixo peso ao nascer.
Variáveis independentes:

ESCMAE ou ESCMAEAGR1 (anos de estudo ou categorias: sem escolaridade, fundamental, médio, superior)

3️⃣ Assistência pré-natal

Hipótese: Menos consultas de pré-natal ↑ risco de baixo peso.
Variáveis independentes:

CONSULTAS ou CONSPRENAT (número de consultas ou categorias: nenhuma, 1–3, 4–6, 7+)

MESPRENAT (mês de início do pré-natal)

KOTELCHUCK (índice de adequação do pré-natal)

4️⃣ Tipo de gravidez

Hipótese: Gravidez múltipla (gêmeos ou mais) ↑ risco de baixo peso.
Variáveis independentes:

GRAVIDEZ (1 = única, 2 = dupla, 3+ = tripla ou mais)

QTDPARTNOR / QTDPARTCES (número de partos anteriores, para controlar efeito histórico)

5️⃣ Tipo de parto e prematuridade

Hipótese: Cesárea eletiva antes de 37 semanas ↑ risco de baixo peso.
Variáveis independentes:

PARTO (1 = vaginal, 2 = cesáreo)

STCESPARTO (cesárea antes do trabalho de parto)

SEMAGESTAC ou GESTACAO (semanas de gestação, para definir prematuridade <37)

6️⃣ Sexo do bebê

Hipótese: Bebês do sexo feminino têm maior probabilidade de baixo peso ao nascer.
Variáveis independentes:

SEXO (1 = masculino, 2 = feminino)

7️⃣ Raça/cor da mãe

Hipótese: Crianças nascidas de mães negras ou pardas ↑ risco de baixo peso (associado a desigualdades socioeconômicas e acesso à saúde).
Variáveis independentes:

RACACORMAE ou RACACOR (tipos de raça/cor da mãe)

8️⃣ Número de gestações anteriores

Hipótese: Nulíparas ou mulheres com muitas gestações anteriores ↑ risco de baixo peso.
Variáveis independentes:

QTDGESTANT (número de gestações anteriores)

QTDFILVIVO (número de filhos vivos)

QTDFILMORT (número de perdas fetais anteriores)

9️⃣ Local de nascimento / assistência ao parto

Hipótese: Nascimentos em domicílio ou locais com menos infraestrutura ↑ risco de baixo peso.
Variáveis independentes:

LOCNASC (1 = hospital, 2 = outro estabelecimento, 3 = domicílio, etc.)

TPFUNCRESP (profissional que realizou registro: médico, enfermeiro, parteira)

10️⃣ Prematuridade

Hipótese: Prematuridade (menos de 37 semanas) ↑ risco de baixo peso.
Variáveis independentes:

SEMAGESTAC ou GESTACAO (semanas de gestação)

Pode criar variável binária: prematuro = 1 (<37 semanas), 0 caso contrário

Tratamento dos dados:

In [37]:
import glob
import pandas as pd

In [38]:
files = glob.glob("data/SINASC_20*.csv")
sampled_data = []

for f in files:
    print(f)
    for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
        sampled_data.append(chunk.sample(frac=0.01, random_state=42))
    
    
df = pd.concat(sampled_data, ignore_index=True)

data\SINASC_2014.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2015.csv
data\SINASC_2016.csv
data\SINASC_2017.csv
data\SINASC_2018.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2019.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (24) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2020.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2021.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2022.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (24,32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

data\SINASC_2023.csv

C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):
C:\Users\Usuario\AppData\Local\Temp\ipykernel_43256\2880192570.py:6: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in pd.read_csv(f, encoding="ISO-8859-1", sep=';', chunksize=100000):

In [ ]:
for df in sampled_data:
    df.columns = df.columns.str.upper()

In [57]:
df_final = pd.DataFrame()

for df in sampled_data:
    df_final = pd.concat([df_final, df])

In [69]:
# filtrando colunas úteis
colunas = ['PESO','IDADEMAE', 'ESCMAE2010', 'CONSULTAS', 'CONSPRENAT', 'MESPRENAT', 'KOTELCHUCK', 'GRAVIDEZ', 'QTDPARTNOR', 'QTDPARTCES', 'PARTO', 'STCESPARTO', 'SEMAGESTAC', 'GESTACAO', 'SEXO', 'RACACORMAE', 'PARIDADE', 'DTCADASTRO']
df_final = df_final.filter(colunas)
df_final

,PESO,IDADEMAE,ESCMAE2010,CONSULTAS,CONSPRENAT,MESPRENAT,KOTELCHUCK,GRAVIDEZ,QTDPARTNOR,QTDPARTCES,PARTO,STCESPARTO,SEMAGESTAC,GESTACAO,SEXO,RACACORMAE,PARIDADE,DTCADASTRO
75721,3000.0,18.0,4.0,3.0,6.0,3.0,4,1.0,0.0,0.0,1.0,NaN,38.0,5.0,F,4.0,0,15012014.0
80184,3994.0,35.0,3.0,3.0,5.0,5.0,2,1.0,0.0,2.0,2.0,2.0,38.0,5.0,F,4.0,1,19022014.0
19864,2820.0,32.0,1.0,3.0,6.0,3.0,4,1.0,1.0,NaN,1.0,NaN,38.0,5.0,M,NaN,1,19052014.0
76699,3000.0,17.0,2.0,4.0,7.0,3.0,5,1.0,1.0,NaN,1.0,NaN,43.0,6.0,F,4.0,1,20022014.0
92991,2690.0,21.0,4.0,3.0,6.0,2.0,4,1.0,NaN,NaN,1.0,NaN,39.0,5.0,F,4.0,0,10062014.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2523997,3230.0,37.0,5.0,4.0,11.0,2.0,5,1.0,0.0,1.0,2.0,2.0,39.0,5.0,1,4.0,1,11102023.0
2513355,3155.0,25.0,2.0,4.0,8.0,2.0,5,1.0,0.0,1.0,1.0,3.0,35.0,4.0,1,4.0,1,22012024.0
2509738,3040.0,24.0,5.0,4.0,9.0,2.0,5,1.0,0.0,1.0,2.0,2.0,38.0,5.0,1,4.0,1,5022024.0
2530066,3410.0,37.0,5.0,4.0,12.0,2.0,5,1.0,0.0,0.0,2.0,2.0,39.0,5.0,2,1.0,1,2122023.0
2510508,3795.0,26.0,3.0,4.0,10.0,1.0,5,1.0,1.0,0.0,1.0,3.0,39.0,5.0,2,1.0,1,12032024.0

In [82]:
df = df_final.copy()

In [83]:
# convertendo o formato correto em data

# 1️⃣ converter para inteiro e depois string sem casas decimais
df['dt_str'] = df['DTCADASTRO'].fillna(0).astype(int).astype(str)

# 2️⃣ preencher com zeros à esquerda (sempre 8 dígitos: ddmmyyyy)
df['DT_NASC'] = df['dt_str'].str.zfill(8)

# 3️⃣ converter para datetime
df['DT_NASC'] = pd.to_datetime(df['dt_str'], format='%d%m%Y', errors='coerce')

df = df.drop(columns=['DTCADASTRO', 'dt_str']).reset_index(drop=True)
df

,PESO,IDADEMAE,ESCMAE2010,CONSULTAS,CONSPRENAT,MESPRENAT,KOTELCHUCK,GRAVIDEZ,QTDPARTNOR,QTDPARTCES,PARTO,STCESPARTO,SEMAGESTAC,GESTACAO,SEXO,RACACORMAE,PARIDADE,DT_NASC
0,3000.0,18.0,4.0,3.0,6.0,3.0,4,1.0,0.0,0.0,1.0,NaN,38.0,5.0,F,4.0,0,2014-01-15
1,3994.0,35.0,3.0,3.0,5.0,5.0,2,1.0,0.0,2.0,2.0,2.0,38.0,5.0,F,4.0,1,2014-02-19
2,2820.0,32.0,1.0,3.0,6.0,3.0,4,1.0,1.0,NaN,1.0,NaN,38.0,5.0,M,NaN,1,2014-05-19
3,3000.0,17.0,2.0,4.0,7.0,3.0,5,1.0,1.0,NaN,1.0,NaN,43.0,6.0,F,4.0,1,2014-02-20
4,2690.0,21.0,4.0,3.0,6.0,2.0,4,1.0,NaN,NaN,1.0,NaN,39.0,5.0,F,4.0,0,2014-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280785,3230.0,37.0,5.0,4.0,11.0,2.0,5,1.0,0.0,1.0,2.0,2.0,39.0,5.0,1,4.0,1,2023-10-11
280786,3155.0,25.0,2.0,4.0,8.0,2.0,5,1.0,0.0,1.0,1.0,3.0,35.0,4.0,1,4.0,1,2024-01-22
280787,3040.0,24.0,5.0,4.0,9.0,2.0,5,1.0,0.0,1.0,2.0,2.0,38.0,5.0,1,4.0,1,2024-02-05
280788,3410.0,37.0,5.0,4.0,12.0,2.0,5,1.0,0.0,0.0,2.0,2.0,39.0,5.0,2,1.0,1,2023-02-21
280789,3795.0,26.0,3.0,4.0,10.0,1.0,5,1.0,1.0,0.0,1.0,3.0,39.0,5.0,2,1.0,1,2024-03-12

criando variável dependente com bweight < 2500 sendo baixo peso de acordo com a OMS

In [84]:
df['BAIXO_PESO'] = df['PESO'] < 2500

In [86]:
df['BAIXO_PESO'].value_counts()

BAIXO_PESO
False    256073
True      24717
Name: count, dtype: int64